@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  display: block;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.menu__price, .dishes__link, .history__imgList, .history__descrip, .history__list, .mob__el, .mob__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --accent: #D67E35;
  --sectionBg: #C4C4C4;
  --btnColor: #FF7400;
  --white: #ffffff;
  --titleColor:var(--accent);
  --black: #000000;
  --textColor: #656363;
  --lightTextColor:var(--white);
  --darkTitlePrincipleSec: #2C2C2C;
  --lightTitlePrincipleSec: #BC9060;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding: 5px;
}

.title {
  font-size: 40px;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.2em;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 54px;
    letter-spacing: 0.01em;
    line-height: 1.5em;
  }
}

.title__el {
  color: var(--accent);
}

.btn {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--btnColor);
  padding: 8px 26px 8px 26px;
  border-radius: 2px;
}
.btn:hover, .btn:focus {
  background-color: var(--accent);
}

.logo {
  width: 45px;
  height: 30px;
  display: block;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 100px;
    height: 68px;
  }
}

.svg {
  width: 30px;
  height: 18px;
  fill: var(--btnColor);
}
.svg:hover, .svg:focus {
  fill: var(--accent);
}

.heroHead {
  margin-bottom: 1150px;
  background-image: url(../images/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 768px;
}
@media screen and (min-width: 290px) {
  .heroHead {
    margin-bottom: 700px;
  }
}
@media screen and (min-width: 390px) {
  .heroHead {
    margin-bottom: 700px;
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .heroHead {
    background-image: url(../images/hero/hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .heroHead {
    margin-bottom: 250px;
    background-image: url(../images/hero/hero-desk.jpg);
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .heroHead {
    background-image: url(../images/hero/hero-desk@2x.jpg);
  }
}

.head {
  padding: 20px 15px 20px 15px;
  margin-bottom: 400px;
}
@media screen and (min-width: 768px) {
  .head {
    display: flex;
  }
}

.mob__menu {
  background-color: var(--sectionBg);
  padding: 20px 30px 20px 30px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .mob__menu, .mob__btn {
    display: none;
  }
}

.mob__el {
  margin-right: auto;
}

.mob__btn--close {
  margin-left: auto;
}

.mob-nav__item {
  margin-bottom: 20px;
}

.mob-nav__link {
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  width: 100%;
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--accent);
}

.desktop__menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .desktop__menu {
    display: none;
  }
}

.desktop-nav {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

.desktop-nav__list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desktop-nav__list::after {
  content: "";
  width: 1px;
  height: 40px;
  background-color: var(--white);
  position: absolute;
  left: 231px;
  display: block;
}

.desktop-nav__item:not(:last-child) {
  margin-right: 15px;
}

.desktop-nav__link {
  color: var(--white);
  width: 100%;
}

.contact {
  margin-bottom: 20px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-bottom: 0px;
    margin-right: 40px;
    flex-direction: column;
  }
}

.contact__svg {
  width: 23px;
  height: 23px;
  fill: var(--white);
  display: inline;
}

.contact__link {
  color: var(--white);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent);
}
@media screen and (max-width: 768px) {
  .contact__link {
    margin-right: 10px;
  }
}

.contact__link:hover .contact__svg,
.contact__link:focus .contact__svg {
  fill: var(--accent);
}

.contact__text {
  color: var(--white);
}

.hero {
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 400px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 200px;
  }
}

.hero__text {
  font-size: 30px;
  font-weight: 400;
  color: var(--accent);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 50px;
  }
}

.hero__text--el {
  font-size: 40px;
}
@media screen and (min-width: 768px) {
  .hero__text--el {
    font-size: 80px;
  }
}

.hero__title {
  font-size: 15px;
  font-weight: 400;
  color: var(--white);
  line-height: 1em;
  margin-bottom: 33px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 18px;
  }
  .hero__title::before {
    content: "";
    width: 61px;
    height: 4px;
    background-color: var(--white);
    display: block;
    position: absolute;
    right: 250px;
    top: 5px;
  }
  .hero__title::after {
    content: "";
    width: 61px;
    height: 4px;
    background-color: var(--white);
    display: block;
    position: absolute;
    top: 5px;
    left: 250px;
  }
}

.principle {
  position: absolute;
  top: 850px;
  left: 50%;
  transform: translate(-50%);
}

.principle__list {
  padding: 0px 40px 0px 40px;
}
@media screen and (min-width: 768px) {
  .principle__list {
    display: flex;
    padding: 0px 70px 0px 70px;
  }
}

.principle__item {
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  text-align: center;
  padding: 5px;
  box-shadow: inset 0 -3em 3em rgba(187, 197, 187, 0.3), 0 0 0 2px white, 0.3em 0.3em 1em rgba(196, 190, 190, 0.6);
}
.principle__item:hover, .principle__item:focus {
  box-shadow: inset 0 -4em 4em rgba(155, 165, 155, 0.3), 0 0 0 2px white, 0.4em 0.4em 1em rgba(173, 168, 168, 0.6);
}
@media screen and (max-width: 767px) {
  .principle__item:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .principle__item:not(:last-child) {
    margin-right: 20px;
  }
}

.principle__svg {
  width: 87px;
  height: 87px;
  fill: var(--lightTitlePrincipleSec);
  display: block;
  margin-bottom: 20px;
}

.principle__title {
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 200;
  color: var(--darkTitlePrincipleSec);
}

.principle__el {
  color: var(--lightTitlePrincipleSec);
}

.principle__text {
  font-size: 22px;
  font-weight: 200;
  color: var(--textColor);
}

.history {
  padding: 0px 60px 0px 60px;
  margin-bottom: 290px;
}
@media screen and (min-width: 280px) {
  .history {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .history {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1080px) {
  .history {
    margin-bottom: 190px;
  }
}

@media screen and (min-width: 768px) {
  .history__el {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .history__el--first {
    margin-right: 40px;
    max-width: 444px;
  }
}

.history__text {
  font-size: 16px;
  font-weight: 400;
  color: var(--textColor);
  text-align: center;
  margin-bottom: 30px;
}

.history__list {
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .history__list {
    flex-direction: row;
  }
}

.history__item {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .history__item:not(:last-child) {
    margin-right: 40px;
  }
}

.history__descrip {
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
}

.history__number {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
  color: var(--lightTitlePrincipleSec);
}

.history__imgList {
  width: 100%;
  position: relative;
}

.history__imgItem {
  box-shadow: inset 0 -3em 3em rgba(139, 141, 139, 0.5), 0.3em 0.3em 1em rgba(161, 156, 156, 0.8);
}

.history__imgItem1 {
  position: absolute;
  top: 20px;
  right: 55%;
}
@media screen and (min-width: 1080px) {
  .history__imgItem1 {
    top: 20%;
  }
}

.history__imgItem2 {
  max-width: 100%;
  z-index: -1;
  top: 0;
}

.history__imgItem3 {
  position: absolute;
  top: 100px;
  left: 55%;
}
@media screen and (min-width: 1080px) {
  .history__imgItem3 {
    top: 55%;
  }
}

.order {
  margin-bottom: 60px;
  padding: 100px 20px 100px 20px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/bg-order-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 768px;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/bg-order-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .order {
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/bg-order-desk.jpg);
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order/bg-order-desk@2x.jpg);
  }
}

.order__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  color: var(--accent);
}
@media screen and (min-width: 768px) {
  .order__title {
    font-size: 52px;
  }
}

.order__text {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 800;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .order__text {
    margin-bottom: 0px;
  }
}

.order__btn {
  margin: auto;
}

.dishes {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .dishes__posititon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dishes__img {
  display: block;
  margin: 0 auto 20px auto;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .dishes__img {
    width: auto;
    margin: 0px 20px 0px 0px;
  }
}

.dishes__item:not(:last-child) {
  margin-bottom: 35px;
}

.dishes__text {
  margin-left: 15px;
  font-size: 22px;
  font-weight: 400;
  color: var(--black);
}
.dishes__text:hover, .dishes__text:focus {
  color: var(--accent);
}
@media screen and (min-width: 768px) {
  .dishes__text {
    font-size: 26px;
    position: relative;
  }
}

.dishes__el {
  display: block;
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  .dishes__el {
    display: inline;
  }
}

.dishes__decor {
  color: var(--textColor);
}
@media screen and (max-width: 767px) {
  .dishes__decor {
    display: none;
  }
}

.dishes__text:hover .dishes__decor,
.dishes__text:focus .dishes__decor {
  color: var(--accent);
}

.menu {
  margin-bottom: 60px;
  padding: 40px 40px 120px 40px;
  background-image: url(../images/menu/bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 768px;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .menu {
    background-image: url(../images/menu/bg-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .menu {
    background-image: url(../images/menu/bg-desk.jpg);
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .menu {
    background-image: url(../images/menu/bg-desk@2x.jpg);
  }
}

.menu__title {
  color: var(--white);
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {
  position: relative;
  background-color: var(--white);
  padding: 50px 30px 20px 30px;
}
@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 25px;
  }
}

.menu__rec {
  position: absolute;
  background-color: var(--accent);
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  padding: 6px 10px 6px 10px;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .menu__item--desk {
    display: none;
  }
}

.menu__img {
  display: block;
  border-radius: 50%;
  margin-bottom: 20px;
}

.menu__price {
  font-family: cursive;
  font-size: 30px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--accent);
  width: 80px;
  height: 80px;
  border: 5px solid var(--white);
  border-radius: 50%;
  position: absolute;
  right: 10%;
  top: 30%;
}
@media screen and (min-width: 345px) {
  .menu__price {
    right: 8%;
    top: 40%;
  }
}

.menu__title--third {
  font-size: 26px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
  margin-bottom: 20px;
}

.menu__descript {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
  margin-bottom: 15px;
}

.menu__btn {
  margin: auto;
  background-color: var(--accent);
  box-shadow: 4px 3px 3px rgba(187, 186, 186, 0.5);
}
.menu__btn:hover, .menu__btn:focus {
  background-color: var(--btnColor);
  box-shadow: none;
}

.reviews {
  margin-bottom: 60px;
}

.reviews__list {
  margin: auto;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 300px;
  -webkit-overflov-scrolling: thouch;
}

.reviews__item {
  flex: none;
  scroll-snap-align: start;
  width: 300px;
  text-align: center;
}

.reviews__text {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
  font-family: italic;
  margin-bottom: 20px;
}

.reviews__img {
  display: block;
  border-radius: 50%;
  margin: 0px auto 10px auto;
}

.reviews__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

.reviews__name {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 10px;
}

/* Стилізація повзунка прокрутки */
.reviews__list::-webkit-scrollbar {
  width: 10px; /* Ширина повзунка */
}

.reviews__list::-webkit-scrollbar-thumb {
  background-color: #888; /* Колір повзунка */
  border-radius: 5px; /* Закруглення країв повзунка */
}

.reviews__list::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Колір фону повзунка */
}

/* Затемнення повзунка при наведенні миші */
.reviews__list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Стилізація повзунка прокрутки */
.reviews__list::-webkit-scrollbar {
  width: 10px; /* Ширина повзунка */
}

.reviews__list::-webkit-scrollbar-thumb {
  background-color: #888; /* Колір повзунка */
  border-radius: 5px; /* Закруглення країв повзунка */
}

.reviews__list::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Колір фону повзунка */
}

/* Затемнення повзунка при наведенні миші */
.reviews__list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.footer {
  margin-bottom: 60px;
  padding: 50px 40px 50px 40px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/footer/bg-footer-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 768px;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .footer {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/footer/bg-footer-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .footer {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/footer/bg-footer-desk.jpg);
    max-width: 1440px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/footer/bg-footer-desk@2x.jpg);
  }
}

.footer__list {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
}

.footer__item {
  text-align: center;
}
.footer__item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer__link {
  font-size: 15px;
  font-weight: 800;
  color: var(--white);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent);
}

.footer__svg {
  fill: var(--white);
}

.footer__link:hover .footer__svg,
.footer__link:focus .footer__svg {
  fill: var(--accent);
}

.footer__btn {
  margin: 0px auto 20px auto;
}

@media screen and (min-width: 768px) {
  .footer__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */