:root {
 // BACKGROUND-COLOR 

//header color, hover and focus buttons, menu section buttons, menu section decorative elements, footer text elements
  --accent: #D67E35;
//the background of the reviews section and our dishes section
  --sectionBg: #C4C4C4;
//the background of the buttons and the hover and focus of the rest of the buttons
  --btnColor: #FF7400;
//background sections,text color  
  --white: #ffffff;

  // TEXT
  
// title color
  --titleColor:var(--accent);
// dark color of text elements 
  --black: #000000;
// the color of the text of the motto and our history section 
  --textColor: #656363;
// light text color
  --lightTextColor:var(--white);
//dark title color section principle
  --darkTitlePrincipleSec: #2C2C2C;
//light title color section principle and numbers of our history section background-color mobile menu
  --lightTitlePrincipleSec: #BC9060;

}