.btn{
	@include font(14px,700,var(--white));
	background-color: var(--btnColor);
      padding: 8px 26px 8px 26px;
	border-radius: 2px;
	&:hover, &:focus{
		background-color: var(--accent);
	}

}

.btn--menuSec{
	background-color: var(--accent);
      box-shadow: 4px 3px 3px rgba(187, 186, 186, 0.5);
	&:hover, &:focus{
		background-color: var(--btnColor);
		box-shadow: none;
	}
}