.history{
	// MOBILE
	padding: 0px 60px 0px 60px;
	margin-bottom: 290px;

      @media screen and (min-width:280px) {
	margin-bottom: 80px;
      }

	// TABLE
	@media screen and (min-width:768px) {
		margin-bottom: 60px;
	}
	
	

	// DESKTOP
	@media screen and (min-width:1080px) {
		margin-bottom: 190px;
	}
}

.history__el{
    @media screen and (min-width:768px) {
	display: flex;
    }
}

.history__el--first{
	
	// DESCTOP
	@media screen and (min-width:768px) {
		margin-right: 40px;
		max-width: 444px;
	}

}

.history__text{
	@include font (16px, 400, var(--textColor));
	text-align: center;
	margin-bottom: 30px;
}

.history__list{
	@extend %flex;
	flex-direction: column;
	@media screen and (min-width:768px) {
		flex-direction: row;
	}

}

.history__item{
      margin-bottom: 25px;

	@media screen and (min-width:768px) {
		&:not(:last-child){
			margin-right: 40px;
		}
	}
}

.history__descrip{
	@extend %flex;
	flex-direction: column;
	@include font (20px, 400, var(--black));
}

.history__number{
	margin-bottom: 20px;
	@include font (40px, 400, var(--lightTitlePrincipleSec));
}

.history__imgList {
	width: 100%;
	@extend %flex;
	position: relative;

}

.history__imgItem{
	box-shadow:
	inset 0 -3em 3em rgba(139, 141, 139, 0.5),
	0.3em 0.3em 1em rgba(161, 156, 156, 0.8);
}

.history__imgItem1{
position: absolute;
top: 20px;
right: 55%;

// DESCTOP
@media screen and (min-width:1080px) {
top: 20%;	
}
}

.history__imgItem2{
max-width: 100%;
z-index: -1;
top: 0;
}

.history__imgItem3{

position: absolute;
top: 100px;
left: 55%;

// DESCTOP
@media screen and (min-width:1080px) {
	top: 55%;	
	}
}

